body{
    background-color: rgb(4, 4, 68);
    color: white;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
*{
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.header h1{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.header ul{
    display: flex;
    list-style: none;
    margin: 5vh;
    padding: 0;
}
.header ul li{
    margin: 0 1rem;
}
.header ul li:hover{
    border-bottom: 2px solid yellow;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Zen Kurenaido', sans-serif;
}
.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transform: scale(1);
    border-radius: 5px;
}
.hambuger{
    margin: 3vw;
    font-size: 20px;
    width: 10px;
    display: none;
    cursor: pointer;
}
.hambuger img{
    width: 20px;
    height: 20px;
}
.about-me-info{
    max-width: 50%;
}
.about-me p{
    line-height: 1.5;
}
.about-me img{
    border-collapse: collapse;
    margin-top: 10px;
    height: 30vw;
    border-radius: 50%;
    border: 10px solid red;
}
h1{
    /* font-size: 34px; */
    font-size: 4vw;
    font-weight: bold;
    color: #fff;
    font-family: 'Fruktur', cursive;
}
.about-me span{
    font-family: 'Fruktur', cursive;
    color: red;
}
.my-logo{
    display: none;
}

.details{
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    transform: scale(1);
    border-radius: 14px;
    margin: 2%;
    padding: 2%;
    /* border: 5px solid black; */
    margin-top: 5%;
}

.details .image{
    border-radius: 5px;
    padding: 2px;
    height: 70vw;
    width: 70%;

    /* border: 2px solid white; */
}
.image img{
    height: 100%;
    width: 100%;
}
.info{
    max-width: 100%;
}
.info h1{
    font-family: 'Fruktur', cursive;
    font-size: 30px;
}
.tabs-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tabs-section h4{
    cursor: pointer;
}
.tabs-section h4:hover,
.tabs-section h4.active
.tabs-section h4:focus{
    color: red;
}
.tab h5,
.tab li{ 
    font-family: 'Fruktur', cursive; 
    color: rgb(199, 21, 199);
}
.tab ul{
    list-style: decimal;
}
.tab li{
    margin-top: 12px;
}
.tabs{
    display: flex;
}
.tabs-section .tab{
    width: 100%;
}
.tabs-section h4{
    font-family: 'Fruktur', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.description h1,
.projects h1{
    font-family: 'Fruktur', cursive;
    font-size: 30px;
}
p{
    /* font-size: 1.2rem; */
    font-size:1.9vw;
    font-family: 'Zen Kurenaido', sans-serif;
}
.blogs{
    text-align: center;
}
.projects{
    position: relative;
    text-align: center;
}
.projects-container{
    display: flex;
    /* transition: .5s; */
    justify-content: center;
    align-items: center;
}
.projects-container .project{
    margin: 2%;
    width: 30%;
    transition: 1s;
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
}
.project:last-of-type,
.project:first-of-type{
    transform: perspective(200px) translateZ(-50px) ;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #000);
}

.project img{
    opacity: 1;
    display: block;
    width: 100%;
    height: 20vw;
    transition: .5s ease;
    backface-visibility: hidden;
}
.project:hover img{
    opacity: 0.3;
}
.project:hover .project-info {
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
    opacity: 1;
}
.project .project-info{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.project-info .text h1{
    font-family: 'Fruktur', cursive;
    font-size: 2vw;
}
.project-info .text p{
    color: white;
    font-size: 1.5vw;
}
.project:hover .project-info{
    display: block;
}
.project:hover{
    background-color: rgb(1, 1, 41);
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(1, 1, 41);
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Zen Kurenaido', sans-serif;
}
.learn-more{
    padding: 10px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 10px;
}
.contact{
    text-align: center;
    width: 100%;
    border-top: 1px solid red;
}
.contact .handles{
    width: 100vw;
    align-self: center;
    text-align: center;
    display: flex;
    padding: 10px;
}
.handles > *{
    padding: 5px 20px;
    margin: 15px;
    font-size: 25px;
    border-radius: 25px;
    border: 1px solid white;
}
button{
    background-color: red;
}
button a{
    font-size: 20px;
}
@media screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    .about-me{
        flex-direction: column;
        margin: 0;
    }
    .details{
        border: none;
        max-width: 100%;
    }
    .my-logo{
        cursor: pointer;
        display: block;
        border-bottom: 2px solid gray;
    }
    .my-logo img{
        width: 250px;
        height:250px;
        border-radius: 50%;
    }
    .tab p{
        font-size: 2vw;
    }
    .details .image{
        width: 90vw;
        margin: 0;
        padding: 0;
        opacity: 0.3;
        border: none;
    }
    .projects-container{
        margin: 10px;
    }
    .projects-container .project{
        width: 80%;
    }
    .project .btn{
        padding: 0 5px;
    }
    .project .btn a{
        font-size: 10px;
    }
    .about-me-info{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    h1{
        font-size: 20px;
    }
    .hambuger{
        display: block;
    }
    .header{
        margin: 0;
        padding: 0;
        align-items: flex-start;
        /* border-bottom: none; */
        width: 100vw;
    }
    .header ul{
        position: absolute;
        top: 10;
        right: 0;
        margin: 0;
        transition: .5s;
        padding-top: 5vh;
        width: 80vw;
        height: 60%;
        text-align: center;
        background-color: rgb(5, 18, 75);
        display: none;
        z-index: 1;
        flex-direction: column;
    }
    .header h1{
        margin: 10px;
        font-size: 30px;
    }
    .tab ul,
    .tab li{
        font-size: 3vw;
    }
    .header ul li{
        margin: 10px;
        border-bottom: 2px solid gray;
        border-width: 100%;
        /* color: rgb(168, 12, 147); */
    }
    .header ul li:hover{
        color: red;
    }
    .info{
        max-width: 100%;
    }
}