body{
    background-color: rgb(4, 4, 68);
    color: white;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
*{
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.header h1{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.header ul{
    display: flex;
    list-style: none;
    margin: 5vh;
    padding: 0;
}
.header ul li{
    margin: 0 1rem;
}
.header ul li:hover{
    border-bottom: 2px solid yellow;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Zen Kurenaido', sans-serif;
}
.about-me{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transform: scale(1);
    border-radius: 5px;
}
.hambuger{
    margin: 3vw;
    display: none;
    cursor: pointer;
}
.hambuger img{
    width: 20px;
    height: 20px;
}
.about-me-info{
    max-width: 50%;
}
.about-me p{
    line-height: 1.5;
}
.about-me img{
    border-collapse: collapse;
    border-radius: 10%;
}
h1{
    /* font-size: 34px; */
    font-size: 4vw;
    font-weight: bold;
    color: #fff;
    font-family: 'Fruktur', cursive;
}
.about-me span{
    font-family: 'Fruktur', cursive;
    color: red;
}
.details{
    display: inline-flex;
    justify-content: space-between;
    transform: scale(1);
    border-radius: 14px;
    margin: 2%;
    padding: 2%;
    border: 5px solid black;
    margin-top: 5%;
}
.details .image{
    border-radius: 5px;
    padding: 2px;
    height: 50%;
    border: 2px solid white;
}
.image img{
    height: 100%;
    width: 100%;
}
.info{
    max-width: 50%;
}
.info h1{
    font-family: 'Fruktur', cursive;
    font-size: 30px;
}
.tabs-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tabs-section h4{
    cursor: pointer;
}
.tabs-section h4:hover,
.tabs-section h4.active{
    color: red;
}
.tab h5{ 
    font-family: 'Fruktur', cursive; 
    color: rgb(199, 21, 199);
}
.tabs{
    display: flex;
}
.tabs-section .tab{
    width: 100%;
}
.tabs-section h4{
    font-family: 'Fruktur', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.description h1,
.projects h1{
    font-family: 'Fruktur', cursive;
    font-size: 30px;
}
p{
    /* font-size: 1.2rem; */
    font-size:1.9vw;
    font-family: 'Zen Kurenaido', sans-serif;
}
.projects{
    text-align: center;
}
.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-container .project{
    margin: 2%;
    width: 30%;
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
}
.project img{
    opacity: 1;
    display: block;
    height: 50vh;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.project:hover img{
    opacity: 0.3;
}
.project:hover .project-info {
    font-size: 20px;
    opacity: 1;
}
.project .project-info{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.project-info .text h1{
    font-family: 'Fruktur', cursive;
    font-size: 30px;
}
.project-info .text p{
    color: white;
    font-size: 70%;
}
.project:hover .project-info{
    display: block;
}
.project:hover{
    background-color: rgb(1, 1, 41);
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(1, 1, 41);
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Zen Kurenaido', sans-serif;
}
.learn-more{
    padding: 10px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 10px;
}
@media screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    .about-me{
        flex-direction: column;
        margin: 0;
    }
    .details{
        
        border: none;
        flex-direction: column;
        max-width: 100%;
    }
    .info{
        position: relative;
        top: -130vw;
        opacity: 1;
        font-weight: bold;
        width: 80%;
        margin: 2%;
        /* color: bl; */
    }
    .info h1{
        color: red;
    }
    .info p{
        font-size: 2.5vw;
    }
    .details .image{
        opacity: 0.3;
        border: none;
    }
    .projects-container{
        flex-direction: column;
        margin: 10px;
    }
    .projects-container .project{
        width: 80%;
    }
    .about-me-info{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    h1{
        font-size: 20px;
    }
    .hambuger{
        display: block;
    }
    .header{
        margin: 0;
        padding: 0;
        align-items: flex-start;
        /* border-bottom: none; */
        width: 100vw;
    }
    .header ul{
        position: absolute;
        top: inherit;
        right: 0;
        margin: 0;
        padding: 5vh;
        width: 100vw;
        height: 60%;
        /* opacity: .9; */
        text-align: center;
        background-color: rgb(5, 18, 75);
        display: none;
        z-index: 1;
        flex-direction: column;
    }
    .header h1{
        margin: 10px;
        font-size: 30px;
    }
    .header ul li{
        margin-bottom: 10px;
        color: rgb(168, 12, 147);
    }
    
    .info{
        max-width: 100%;
    }
}